* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Outfit", sans-serif;
}

header,
.product-conatiner,
.verified-reviews {
  width: 90%;
  padding: 20px;
  margin: auto;
}

.nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu li {
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

i {
  margin-left: 2px;
}

.product-conatiner {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-evenly;
}

.img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
}

.img-gallary,
.img-gallary-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.img-gallary img {
  width: 129px;
  height: 135px;
}

.product-conatiner i,
.verified-rating i {
  color: #ffb525;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.helio-title {
  font-size: 60px;
  font-weight: 700;
  color: #141b4d;
}

.profile-image {
  width: 33px;
  height: 33px;
}

.profile-details{
  display: none;
}
.feedback {
  width: 85%;
  background-color: #f2f2f6a8;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feedback p {
  font-size: 16px;
  color: #3f446c;
  text-align: justify;
}

.features i {
  color: #3385ff;
}

.features p {
  font-size: 16px;
  color: #141b4d;
  margin-bottom: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid #303435ad;
  height: auto;
  width: 90%;
}

.add-to-cart-items {
  display: flex;
  align-items: center;
  
}
.add-to-cart-btn {
  background-color: #1db469;
  border-radius: 5px;
  padding: 18px 58px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  
}

.price-container {
  display: flex;
  align-items: center;
}

.add-minus-btn-conatiner {
  display: none;
}
.add-minus-btn-conatiner-2 {
  display: block;
}

.add-minus-btn-conatiner-3 {
  display: block;
}
.blue-bg {
  width: 100%;
}

.professional-section {
  margin-top: 40px;
  height: 500px;
  background-image: url("../assets/Background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plus-btn,
.minus-btn,
.close-btn {
  background-color: #e0e0ea;
  color: #141b4d;
  font-size: 25px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.close-btn i{
  color: #141b4d;
}

.count {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}

.payment-method {
  width: 55%;
}

.verified-reviews {
  width: 80%;
  margin-left: 50px;
  margin-top: 40px;
}

.verified-reviews h1 {
  font-weight: 800;
  font-size: 28px;
  color: black;
}

.rating-with-pictures {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 16px;
}

.verified-rating > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.img-gallary-2 img {
  width: 85px;
  height: 80px;
}

.rating-breakdown i {
  color: #303435ad;
  font-size: 14px;
}

.rating-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  margin-bottom: 10px;
}

.rating-bar {
  flex: 1;
  height: 12px;
  background: #eee;
  margin: 0 8px;
}

.fill {
  height: 100%;
  background: #141b4d; /* dark navy */
}

.stars {
  grid-column: span 2;
}

.verified-rating,
.rating-breakdown {
  border-right: 1.5px solid #303435ad;

  height: 100%;
}

.professional-text-container{
  width: 70%;
  margin:  auto;
  margin-top: 20px;
  
}

body.drawer-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent */
  display: none;
  z-index: 900;
}

.overlay.active {
  display: block;
}


.drawer {
  position: fixed;
  top: 0;
  right: -30%; /* Hidden */
  width: 30%;
  height: 100%;
  background-color: #eee;
  transition: right 0.3s ease;
  z-index: 1000;
  
}

.drawer h1{
  font-size: 36px;
  font-weight: 700;
  
}

.product-info i{
  color: crimson;
  font-size: 1.2rem;
}

.product-info-heading{
  margin-top: 20px; 
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 2px solid #e0e0ea;
}

.product-info{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.drawer img{
  border:  1px solid gray;
  padding: 14px;
  width: 60px;
  height: 60px;
}

.drawer.open {
  right: 0; /* Slide in */
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }

  .helio-title {
    font-size: 34px;
  }
  .product-conatiner {
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .img-container {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
  }

  .product-img {
    width: 80%;
  }

  .img-gallary {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .img-gallary img {
    width: 70px;
    height: 70px;
  }
  .best-seller {
    display: none;
  }

  .profile-image {
    width: 44px;
    height: 44px;
  }

  .profile-details{
    display: block;
  }

  .features i {
    display: none;
  }

  .features p {
    font-size: 10px;
   
  
  }
  .product-description {
    margin-top: 14px;
    gap: 20px;
  }

  .add-minus-btn-conatiner {
    display: block;
  }

  .add-minus-btn-conatiner-2 {
    display: none;
  }
  .rating-with-pictures {
    grid-template-columns: repeat(1, 1fr);
  }

  .img-gallary-2 img {
    width: 50px;
    height: 50px;
  }

  .compare-price {
    display: none;
  }

  .add-to-cart-items {
    align-items: start;
    flex-direction: column-reverse;
  }

  .verified-reviews {
    margin-left: 0px;
  }

  .verified-reviews h1 {
    display: none;
  }

  .verified-rating,
  .rating-breakdown {
    border-right: none;
  }

  .drawer {
    
    right: -95%; /* Hidden */
    width: 95%; 
    
    
  } 
  
  .product-info i{
    
    font-size: 1rem;
  }
}
